:root {
  --html-bg-color: hsl(0, 0%, 0%);
  --primary-bg-color: #1A1A1B;
  --highlight-bg-color: #343536;
  --border: 1px solid #343536;
  --focus-border: 1px solid #D7DADC;
  --primary-text-color: #D7DADC;
  --secondary-text-color: #818384;
  --primary-font: 'Noto Sans', Arial, sans-serif;
  --secondary-font: IBMPlexSans, Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  border-radius: 4px;
}

body {
  background-color: var(--html-bg-color);
}

h1 {
  font-size: clamp(1.25em, 5vw, 2em);
  text-align: center;
}

h2 {
  text-align: center;
  font-size: clamp(1em, 5vw, 1.5em);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, textarea, .main-thread, select {
  font-size: 1em;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  font-size: 14px;
  font-family: var(--secondary-font);
  border: var(--border);
  background-color: var(--primary-bg-color);
  outline: none;
}

input:focus, textarea:focus, .main-thread:hover {
  border: var(--focus-border);
}

button {
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

label {
  display: block;
  font-size: 12px;
  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
}

p {
  display: block;
  font-size: 14px;
  line-break: anywhere;
}

hr {
  border: var(--border);
}

/* Containers */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.board-route, .thread-route {
  padding: 1em 2rem;
  background-color: var(--primary-bg-color);
}

@media (max-width: 600px) {
  .board-route, .thread-route {
    padding: 1em 0;
  }
}

/* Containers */

/* Search */

.search.form-cont {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 3;
  border: none;
  border-bottom: var(--border);
  border-radius: 0;
}

.bi.bi-arrow-left-short {
  width: 2em;
  height: 100%;
}

#search-cont {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-block: 4px;
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
}

#search {
  display: flex;
  margin: 0;
}

#matches {
  width: 100%;
  background-color: var(--primary-bg-color);
  position: absolute;
  top: calc(100% - 4px);
  left: 0;
  z-index: 2;
}

.match {
  border: var(--border);
  display: block;
  font-size: 12px;
  font-weight: 600;
  font-family: var(--secondary-font);
  padding: .5em 1em;
}

.match:hover {
  background-color: var(--highlight-bg-color);
}

/* Search */

/* Board Links */

nav {
  margin-top: 3em;
}

.board-cont {
  display: flex;
  justify-content: center;
}

@media(max-width: 384px) {
  .board-cont {
    justify-content: flex-start;
    overflow: scroll;
  }
}

.board-cont .board-link, #matches .board-link {
  margin: 1em;
  background-color: var(--highlight-bg-color);
  padding: 10px;
  border-radius: 50px;
}

.board-link {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--secondary-font);
  z-index: 1;
}

/* Board Links */

/* Threads */

#recent-threads {
  width: 100%;
  margin: auto;
}

.thread-cont {
  padding: 1em;
}

.thread, .thread-link {
  margin-bottom: 1em;
}

.thread-link, .main-replies {
  font-size: 12px;
  font-family: var(--secondary-font);
}

.thread-data, .rep-data {
  margin-bottom: 1em;
}

.thread-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-thread {
  position: relative;
  margin: 1em 0;
  cursor: pointer;
}

.main-thread .id {
  cursor: pointer;
}

.main-thread .thread-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Threads */

/* Forms */

.form {
  display: flex;
  flex-direction: column;
}

.form-cont {
  padding: 1rem;
  margin-block: 1rem;
  border: var(--border);
  background-color: var(--primary-bg-color);
}

.submit {
  width: fit-content;
  border-radius: 50px;
  padding: .5em 2em;
  border: none;
  background-color: var(--primary-text-color);
}

.submit:hover {
  opacity: .9;
}

.post-btn {
  margin-left: auto;
  color: var(--secondary-text-color);
  cursor: not-allowed;
}

.post-btn.enabled {
  color: var(--primary-bg-color);
  cursor: pointer;
}

.newThread {
  margin: 1em 10%;
}

.reply {
  padding: 1em;
}

.actions-cont {
  display: flex;
  position: relative;
  margin: 1em 0 0 auto;
}

.pop-up.form-cont, .background {
  display: none;
  position: fixed;
}

.pop-up.form-cont {
  top: calc(50% - 54px);
  left: calc(50% - 196px / 2);
  z-index: 2;
}

.background {
  background-color: var(--primary-bg-color);
  opacity: .8;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.pop-up.form-cont.show, .background.show {
  display: inline-block;
}

.pop-up-btn {
  color: var(--primary-bg-color);
  margin-inline: auto;
}

.pop-up-input {
  display: inline-block;
}

.del-btn, .rep-btn, .pop-up-input {
  padding: 6px 4px;
  max-height: 26px;
}

.del-btn, .rep-btn {
  background: none;
  border: none;
  line-height: 14px;
  color: var(--secondary-text-color);
}

.del-btn:hover, .rep-btn:hover {
  background-color: var(--highlight-bg-color);
}

/* Forms */

/* Select */

.select-cont {
  display: flex;
  position: relative;
  flex-direction: column;
}

.select-input {
  cursor: default;
}

.select-matches {
  display: none;
  max-height: 9em;
  overflow-y: auto;
  position: absolute;
  background: var(--primary-bg-color);
  width: 100%;
  top: calc(100% - 8px);
  z-index: 1;
}

.select-matches.show {
  display: block;
}

.select.match {
  cursor: pointer;
}

/* Select */

.reportThread {
  margin-right: 1em;
}

.reported {
  background-color: var(--highlight-bg-color);
}