* {
  margin: 0px;
  padding: 0px;
  color: hsl(0, 0%, 90%);
  font-family: 'Noto Sans', Arial, sans-serif;
}

html {
  background-color: hsl(0, 0%, 10%);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: hsl(0, 0%, 20%) .5px solid;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

#search-cont {
  display: flex;
  margin: 0;
  padding: .8em;
  justify-content: center;
}

#search {
  margin: 0;
  width: 306px;
}

.board-cont {
  text-align: center;
  margin: 1em 0;
}

.board-cont .board-link {
  margin: 1em;
  background-color: hsl(0, 0%, 20%);
  padding: 10px;
  border-radius: 50px;
}

.board-link {
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  font-family: IBMPlexSans, Arial, sans-serif;
  z-index: 1;
}

#recent-threads {
  max-width: 600px;
  margin: auto;
}

.thread-data {
  display: flex;
  justify-content: space-between;
}

.thread-text {
  font-size: 14px;
}

.main-thread {
  position: relative;
  margin: 1em 0;
  border: hsl(0, 0%, 20%) .5px solid;
  border-radius: 3px;
  cursor: pointer;
}

.main-thread:hover {
  background: hsl(0, 0%, 20%);
}

.main-thread .id {
  cursor: pointer;
  text-align: end;
}

.main-thread .thread-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

label {
  display: block;
  font-size: .8em;
  color: rgb(124, 124, 124);
  margin-bottom: 1em;
  font-family: IBMPlexSans, Arial, sans-serif;
}

.main-title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-cont {
  border: hsl(0, 0%, 20%) .5px solid;
  border-radius: 3px;
  margin: 2em 0;
  padding: .5em;
  background-color: hsl(0, 0%, 10%);
}

input, textarea, button {
  font-size: 1em;
  padding: .6em .7em;
  margin-top: .5em;
  margin-inline: .7em;
  border: hsl(0, 0%, 22%) 1px solid;
  border-radius: 3px;
  background-color: hsl(0, 0%, 18%);
  font-size: 14px;
  font-family: IBMPlexSans, Arial, sans-serif;
  outline: none;
}

button {
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

input:hover, textarea:hover {
  background-color: hsl(0, 0%, 10%);
}

input:focus, textarea:focus {
  background-color: hsl(0, 0%, 10%);
}

button:hover {
  background-color: hsl(0, 0%, 30%);
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

.submit {
  width: fit-content;
  border-radius: 50px;
  padding: .5em 2em;
  border: none;
  background-color: hsl(0, 0%, 90%);
}

.submit:hover {
  background-color: hsl(0, 0%, 80%);
}

.post-btn {
  margin-left: auto;
  color: hsl(0, 0%, 60%);
  cursor: not-allowed;
}

.post-btn.enabled {
  color: hsl(0, 0%, 30%);
  cursor: pointer;
}

.newThread {
  margin: 1em 10%;
}

.thread-cont {
  padding: 1em;
}

.thread, .thread-link {
  margin-bottom: 1em;
}

.thread-link, .main-replies {
  font-size: 12px;
  font-family: IBMPlexSans, Arial, sans-serif;
}

.reply {
  padding: 1em;
}

.actions-cont {
  display: flex;
  position: relative;
  margin: 1em 0 0 auto;
}

.del.form-cont, .background {
  display: none;
  position: fixed;
}

.del.form-cont {
  top: calc(50% - 54px);
  left: calc(50% - 196px / 2);
  z-index: 2;
}

.background {
  background-color: hsl(0, 0%, 10%, 70%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.del.form-cont.show, .background.show {
  display: inline-block;
}

.del-pword-btn {
  color: hsl(0, 0%, 30%);
  margin-inline: auto;
}

.del-input {
  display: inline-block;
}

.del-btn, .rep-btn, .del-input {
  margin: 0;
  padding: 3px;
  max-height: 26px;
}

.del-btn, .rep-btn {
  background: none;
  border: none;
  line-height: 20px;
}

.reportThread {
  margin-right: 1em;
}

.reported {
  background-color: hsl(0, 0%, 40%);
}

@media (max-width: 304px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }
}